docs/mensajeriaDin/CUENTAITEM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aduana.cl/xml/esquemas/CUENTAITEM" xmlns:tns="http://www.aduana.cl/xml/esquemas/CUENTAITEM" elementFormDefault="qualified">

    <complexType name="CUENTAITEM">
    	<sequence>
    		<element name="OTRO" type="string"></element>
    		<element name="CTA" type="string"></element>
    		<element name="SIGVAL" type="string"></element>
    		<element name="VALOR" type="string"></element>
    	</sequence>
    </complexType>
</schema>